form{
     font-style: italic;
    color: black;
    font-size: x-large;
    font-weight: 600;
    height: 580px;
    width: 40%;
    top: 200px;
    left: 100px;
    position: absolute;
    margin-left: 60%;
    margin-bottom: 20%;
    padding: 2%;
    background-color: rgba(203, 209, 235, 0.838);;
    border-radius: 5%;

  }
  .logo{
    position:fixed !important;
    bottom: 10%;
    width: 15%;
    left:3%;
    border-radius:50%;
  }
.navbar-brand{
   font-weight: bold;
    background-color: rgb(80, 3, 61);
    width: 100%;
    height: 400px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: xx-large;
  }

  .login-class {
    background-image: url('../../public/funTalking.jpg');
  }

  .register-button {
      border: 0ch;
  }
  .form-label{
    font-size: larger;
  }

  .btn{
    
  }
