.register-class {
    background-image: url('../../public/funTalking.jpg');
}

form {
    font-style: italic;
    height: 580px;
    width: 50%;
    top: 200px;
    left: 30px;
    position: absolute;
    margin-left: 25%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: rgb(160, 159, 159);
    border-radius: 5%;

}

b {
    background-color: rgb(80, 3, 61);
    width: 100%;
    height: 400px;
    border-radius: 0%;
}

.login-button {
    border: 0ch;
}