.register-class {
    background-image: url('../../public/funTalking.jpg');
}
.logo{
  position:fixed !important;
  bottom: 10%;
  width: 10%;
  left:5%;
  box-shadow: 30px 20px #05050572;
  border-radius:20%;
}
form {
    font-style: italic;
    height: 580px;
    width: 50%;
    top: 200px;
    left: 30px;
    position: absolute;
    margin-left: 25%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: rgb(160, 159, 159);
    border-radius: 5%;

}

.navbar-brand{
    color: rgb(255, 255, 255);

    top: -25px;
    position:absolute ;
    font-weight: bold;
    background-color: rgb(80, 3, 61);
    width: 100%;
    height: 400px;
    font-style: italic;
    font-size: xx-large;
    }
.register-button {
    border: 0ch;
}

.form-text{
    color: rgb(0, 0, 0);
  }

.form-label{
  font-size: larger;
}

.btn{
  margin-top: 15px;
  
}

.login-button {
    border: 0ch;
}