.register-class {
    background-image: url('../../public/funTalking.jpg');
}
.logo{
  position:fixed !important;
  bottom: 10%;
  width: 200%;
  left:1%;
  top: 65%;
  border-radius:50%;
}
form {
    font-style: italic;
    color: black;
    font-size: x-large;
    font-weight: 600;
    height: 760px;
    width: 40%;
    top: 200px;
    left: -9%;
    position: absolute;
    margin-left: 25%;
    margin-bottom: 20%;
    padding: 2%;
    background-color: rgba(203, 209, 235, 0.838);;
    border-radius: 5%;

}

.navbar-brand{
    color: rgb(255, 255, 255);

    top: -25px;
    position:absolute ;
    font-weight: bold;
    background-color: rgb(80, 3, 61);
    width: 100%;
    height: 400px;
    font-style: italic;
    font-size: xx-large;
    }
.register-button {
    border: 0ch;
}

.form-text{
    color: rgb(0, 0, 0);
  }

.form-label{
  font-size: larger;
}

.btn{
  margin-top: 15px;
  
}

.login-button {
    border: 0ch;
}
.wellcome{
  top:30%;
  left: 64%;
  width: 30%;
  position: absolute;
  border-radius: 50%;
}